body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100 vh;
    font-family: 'mont';
    background-color: rgb(255, 255, 255);
}

@font-face {
    font-family: 'mont';
    src: url(/fonts/montserrat/Montserrat-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 500 px;
    box-shadow: 0 15 px 35 px rgba(50, 50, 93, .1), 0 5 px 15 px rgba(0, 0, 0, .07);
    padding: 2e m;
    background-color: #fff;
}