body,
html {
    height: 100%;
    width: auto;
    margin: 0;
    /* background-image: url("/images/titlePic.png"); */
    background-color: rgb(254, 249, 255);
}

@font-face {
    font-family: 'futura_t_otbook';
    src: url(/fonts/Futura-T-OT-Book_19064.ttf);
    font-weight: normal;
    font-style: normal;
}

.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}


/* 
.topnav {
    background-color: white;
    position: fixed;
    top: 0;
    display: block;
    
}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'futura_t_otbook';
}

.topnav a:hover {
    background-color: black;
    color: white;
}

.navBar {
    padding-top: 10px;
}

.nav-link {
    font-family: 'futura_t_otbook';
    color: Black;
    opacity: 0%;
}

a:hover {
    text-decoration: none;
    color: Warm Red U;
} */

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: Warm Red U;
    padding: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: .5px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
}

#container-pic {
    justify-content: center;
}

#canvas-basic {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 60%;
}

.nav-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 10px;
}